html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font-family: "circular", sans-serif;
	color: #877873;
	vertical-align:baseline;
	/* regole che trovo "oscure" */
	font-size:15px;
}

body {
	background: #463837 url('../img/p1000595.jpg') no-repeat center fixed;  /* Non ho inserito più immagini con transizioni perché non so che tipo di transizione deve esserci e quante immagini avete deciso di inserire */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
   
}

/*h3 considero i titoli delle pagine stile "carrello spesa" "Bienvenuto Piersilvio etc.." in maniera tale da lasciare lo spazio per un h2 più importante e h1 del titolo*/

h3 {
	font-size: 18px;
	margin-bottom: 30px;
}

h4 { /* h4 i titoletti dei paragrafi di note e spiegazioni */
  font-size: 16px;
  color: #655653;
  margin-bottom: 20px;
}

h5 { /* h5 i riferimenti a piè di pagina e simili */
  font-size: 10px;
  font-weight: normal;
}

/*h6 considero i titolini stile +aggiungi*/

h6 {
	font-size: 8px;
	color: orange;
}

p {
	margin-bottom: 7px;
}

/*Per quanto riguarda i link io ho messo questi colori: nero con box giallo quando ci si passa sopra col mouse, grigio quando ci abbiamo cliccato sopra
(ovviamente non cambia colore in seguito al click, su questo non si tratta, e nero quando è attivo". ovviamente si possono cambiare con i colori Ex esatti. */


a:link    {
	color:#aea098;
}

a:visited {
	color:#aea098;
}

a:hover   {
	background-color:yellow;
	text-decoration:none;
	color:black;
}

a:active  {
	color:black;
}

/*questo è il contenitore di info bianco sulla destra. Possiamo modificare facilmente la sua dimensione con la percentuale: width */

.contenitore_testo {
	background-color: rgba(255, 255, 255, 0.9);
	width: 50%;
	height: 97%;
	/*
	opacity:0.4;
	filter:alpha(opacity=40);
	*/
	position:absolute;
    right :0px;
    top   :0px;
  /*  bottom:0px; */
  padding: 10px;
}
@media (max-height: 500px) {
  .contenitore_testo {
  	height: 92%;
  }
}
@media (max-width: 799px) {
  .contenitore_testo {
  	width: 70%;
  }
}

/*In questo caso tratto il logo come un'immagine, nel caso volessimo trattarlo come solo testo, provvedo a modificarlo */

.logo-tutta-pagina { /*io sinceramente in questo caso creerei direttamente l'immagine HD con il logo inserito direttamente, in maniera da non avere problemi di scalabilità */
   position: absolute;
   top: 50%;
   left: 50%;
   width: 230px; /* 23/7 è la proporzione del logo attuale quindi ho moltiplicato tutto per 10 e mi pare la grandezza ideale */
   height: 70px;
   margin-top: -35px; 
   margin-left: -115px;  /* io faccio cosi per inserire le immagini centrali (l'unico problema è che l'immagine non è in responsive. Per far ciò io creo due-tre query per modificare la taglia in base allo schermo) */
}

.logo-normale {
   position: absolute;
   top: 20px;
   left: 20px;
   width: 230px;
   height: 70px;

}

.logo-normale img {
   width: 230px;
}

.bottone-apertura {
    border-radius: 1000px;
    background-color: orange;
    border-color: orange;
	position: absolute;
	left: 50%;
	top:50%;
	height: 20px;
	width: 180px;
	margin-left: -90px;
	margin-top:-10px;
    color: white;
    cursor: default;
    opacity: 0.7;
    box-shadow: none;
	text-align: center;
	padding: 0 0 22px 0;
	z-index:999999; 	
}	

.aggiungi-al-carrello {
    background-color: orange;
	height:30px;
	width:480px;
	margin: 10px;
	padding: 2px;
    color: white;
    opacity: 0.7;
	filter:alpha(opacity=70);
    text-align: center;
}
	
.aggiungi-al-carrello p{
	color: white;
}

