
#foowd-panel {
  top: 20%;
  width: 20px;
  height: 240px;
  padding: 0.4em;
  position: absolute;
  background: rgba(0,0,0,0.4);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index:10000;
}
#foowd-panel-content{
  visibility: hidden;
}
#foowd-panel h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
}
.
